@model object

@{
	ViewBag.Title = "Welcome to Griffin.MvcContribs administration area";
}

<h2>Welcome to Griffin.MvcContribs administration area</h2>

<p>Select one of the following features</p>
<ul>
    <li>@Html.ActionLink("Type localization", "Index", "LocalizeTypes")</li>
    <li>@Html.ActionLink("View localization", "Index", "LocalizeViews")</li>
    <li>@Html.ActionLink("Account administration", "Index", "Account")</li>
</ul>