@using HtmlHelpersDemo.Models
@model ListModel
@{
    ViewBag.Title = "Index";
}
<h2>
    Checkbox demos</h2>
<p>
    Simple:
    <br />
    @Html2.CheckBoxFor(model => model.CurrentUser.IsHappy)
    <br />
</p>
<p>
    Checkboxes using enum:
    <br />
    @Html2.CheckBoxesFor(model => model.CurrentUser.Speicies)
    <br />
</p>
