@model HtmlHelpersDemo.Models.ListModel
@{
    ViewBag.Title = "Index";
}
<h2>
    Checkbox demos</h2>
<p>
    Simple:
    <br />
    @Html2.RadioButtonFor(model => model.CurrentUser.IsHappy, 1)
    <br />
</p>
<p>
    Checkboxes using enum:
    <br />
    @Html2.RadioButtonsFor(model => model.CurrentUser.Speicies)
    <br />
</p>
