@model IEnumerable<Griffin.MvcContrib.Areas.Griffin.Models.LocalizeViews.ViewPrompt>
@{
    ViewBag.Title = "Index";
}
@foreach (var prompt in Model)
{
    <tr>
        <td>@prompt.LocaleId</td>
        <td>@prompt.ViewPath/@prompt.TextName</td>
        <td>@prompt.TranslatedText</td>
    </tr>
}