@model object
@{
    ViewBag.Title = "Index";
}
<div class="griffin">
    @Html.Partial("_menu")
    <h2>Import view texts</h2>
    @using (Html.BeginForm("Import", "LocalizeViews", FormMethod.Post, new{enctype = "multipart/form-data"}))
    {
        @Html.ValidationSummary(true)
        <div>
            Select a JSON file which contains the prompts to import<br />
            <input type="file" name="dataFile" /><br/>
            <br/>
            <input type="submit" value="Import" />
        </div>
    }
</div>
