<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GriffinMvcContribSQLTest;Integrated Security=True"/>
    <add name="SetupConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=tempdb;Integrated Security=True"/>
  </connectionStrings>
</configuration>